@media only screen and (min-width: 320px) {
.dash-nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    height: 142.5%;
    left: 0;
    background: var(--azulnegro);
    width: 80px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo-dash img {
    width: 4rem;
    margin-top: 10px;
    margin-left: -3.6em;
}

.nav-title-dash {
    font-family: 'Playfair Display', serif;
    color: var(--blanco);
    font-size: 50px;
    margin-left: 15px;
    margin-top: -55px;
}

.img-fondo {
    position: relative;
    width: 20.5em;
    height: 14.5em;
    top: -15px;
    background-image: url(./Group\ 200.svg);
    background-size: cover;
}

.logo-dash {
    position: relative;
    top: 10%;
    left: 20%;
}

.name-user {
    position: relative;
    color: var(--blanco);
    padding-top: 8px;
    left: 50px;
    font-size: 26px;
    margin-top: -45px;
}

.gmail-user {
    font-size: 13px;      
}

.icon {
    color: var(--blanco);
}

.img-person {
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

.dash-a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 380px;
    padding: 10px;
}

.fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
    color: var(--blanco);
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}

.dash-a:hover {
    background: var(--azuloscuro);
}

.dash-nav:hover {
    width: 280px;
    transition: all 0.5s ease;
}

.logout-dash {
    position: absolute;
    bottom: 0;
}
}